<template>
  <div class="farm-list">
    <a-row :gutter="20">
      <a-col
        v-for="farm in farmsList"
        :key="farm.id"
        :lg="{ span: 12 }"
      >
        <nuxt-link :to="`/account/farm/${farm.id}`">
          <farm-list-item
            :name="farm.name"
            :farm-image="mapMediaPath(farm.medias)"
            :province="farm.province && farm.province.th"
            :fruit-type="farm.fruitType"
            :fruit-breed="farm.fruitBreed"
            :num-area="farm.numArea"
            :num-tree="farm.numTree"
          />
        </nuxt-link>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import FarmListItem from '~/components/account/FarmListItem.vue'
export default {
  components: {
    FarmListItem
  },
  props: {
    farmsList: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    mapMediaPath (medias) {
      if (Array.isArray(medias) && medias.length > 0) {
        const mediaIndex = medias.length - 1
        return medias[mediaIndex].path
      }
      return ''
    }
  }
}
</script>

<style lang="less" scoped>
.farm-list {
  padding: 16px 0;
  @media only screen and (min-width: 992px) {
    padding: 16px 80px 0px 80px;
  }
  a {
    text-decoration: none;
  }
}
</style>
